.uber-but{
    background-color: black;
    color: white; 
    height: 38px;
    width: 8rem;
    border: none;
    cursor: pointer;
    transition: opacity 0.15s;
}
.uber-but:hover{
    opacity: 0.8;
}

.amazon-but{
    background-color: rgb(255, 216, 20);
    border: none;
    height: 35px;
    width: 11rem;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.amazon-but:hover{
    background-color: rgb(233, 198, 25);
}

.github-but{
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    height: 38px;
    width: 6rem;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.15s;
}
.github-but:hover{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.boost-but{
    background-color: rgb(121, 82, 179);
    color: white; 
    height: 38px;
    width: 8rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-right: 7px;
    transition: background-color 0.15s;
}
.boost-but:hover{
    background-color: rgb(96, 66, 141);
}

.download-but{
    background-color: rgb(255, 255, 255);
    color: rgb(108, 117, 125); 
    height: 38px;
    width: 8rem;
    border-width: 1px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}
.download-but:hover{
    background-color: rgb(108, 117, 125);
    color: rgb(255, 255, 255);
}

.company-but{
    color: white;
    border: none;
    height: 38px;
    width: 15rem;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(10, 102, 194);
    margin-right: 7px;
    transition: background-color 0.15s;
}
.company-but:hover{
    background-color: rgb(8, 81, 153);
}

.save-but{
    background-color: white;
    border-color: rgb(10, 102, 194);
    color: rgb(10, 102, 194);
    border-style: solid;
    border-width: 1px;
    border-radius: 18px;
    height: 36px;
    width: 65px;
    font-weight: bold;
    cursor: pointer;
}
.save-but:hover{
    border-width: 2;
    background-color: rgba(10, 102, 194, 0.140);
}

.black-nike{
    font-size: 30px;
    font-weight: bold;
}
.check{
    color: rgb(0, 118, 0);
}
.comeAm{
    color: rgb(0, 113, 133);
    transition: color 0.15s;
}
.comeAm:hover{
    color: rgb(192, 18, 18);
}

.cart{
    background-color: rgb(255, 216, 20);
    border: none;
    height: 33px;
    width: 7rem;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.cart:hover{
    background-color: rgb(230, 195, 20);
}
.cart:active{
    opacity: 0.7;
}

.buynow{
    background-color: rgb(255, 164, 28);
    border: none;
    height: 33px;
    width: 7rem;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.buynow:hover{
    background-color: rgb(233, 150, 26);
}
.buynow:active{
    opacity: 0.7;
}